Repository israellopezdeveloper/democracy_chain: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-python-style, worker-python-style, backend-mypy, worker-mypy, frontend-eslint, frontend-prettier, frontend-typecheck, dapp-solhint, dapp-prettier, dapp-foundry-fmt, yamllint-compose

backend-python-style:
  name: backend | ruff+black+isort
  entry: bash -lc 'cd backend && poetry run ruff check --fix . && poetry run black . && poetry run isort .'
  language: system
  pass_filenames: false

worker-python-style:
  name: worker | ruff+black+isort
  entry: bash -lc 'cd worker && poetry run ruff check --fix . && poetry run black . && poetry run isort .'
  language: system
  pass_filenames: false

backend-mypy:
  name: backend | mypy
  entry: bash -lc 'cd backend && poetry run mypy .'
  language: system
  pass_filenames: false

worker-mypy:
  name: worker | mypy
  entry: bash -lc 'cd worker && poetry run mypy .'
  language: system
  pass_filenames: false

frontend-eslint:
  name: frontend | eslint
  entry: bash -lc 'npm --prefix frontend run lint'
  language: system
  pass_filenames: false

frontend-prettier:
  name: frontend | prettier --write
  entry: bash -lc 'npm --prefix frontend run format:write'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: frontend | tsc --noEmit
  entry: bash -lc 'if command -v pnpm >/dev/null 2>&1; then pnpm -C frontend tsc --noEmit; else npm --prefix frontend run typecheck --silent; fi'
  language: system
  pass_filenames: false

dapp-solhint:
  name: dapp | solhint
  entry: bash -lc 'if command -v pnpm >/dev/null 2>&1; then pnpm -C dapp solhint "contracts/**/*.sol"; else npx --yes --prefix dapp solhint "contracts/**/*.sol"; fi'
  language: system
  pass_filenames: false

dapp-prettier:
  name: dapp | prettier --write
  entry: bash -lc 'if command -v pnpm >/dev/null 2>&1; then pnpm -C dapp prettier --write .; else npx --yes --prefix dapp prettier --write .; fi'
  language: system
  pass_filenames: false

dapp-foundry-fmt:
  name: dapp | forge fmt --check
  entry: bash -lc 'cd dapp && if command -v forge >/dev/null 2>&1; then forge fmt --check; else echo "forge no está instalado, saltando"; fi'
  language: system
  pass_filenames: false

yamllint-compose:
  name: root | yamllint docker-compose.yml
  entry: bash -lc 'yamllint -s docker-compose.yml'
  language: system
  pass_filenames: false

commit
  examples/package-lock.json
  examples/package.json
  examples/scripts/register_candidate.mjs
  examples/scripts/register_programs.sh
Due: none

commit
  .env.example
  .pre-commit-config.yml
  documentation/README.en.md
  documentation/README.es.md
  documentation/README.zh.md
  frontend/src/assets/chatbox.css
  frontend/src/components/ChatBox.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

commit
  Makefile
Due: none

cosmetic features
  frontend/src/assets/chatbox.css
  frontend/src/assets/index.css
  frontend/src/components/ChatBox.tsx
  frontend/src/pages/About.tsx
  frontend/src/pages/Viewer.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

improve UX
  .gitignore
  Makefile
  commands.txt
  frontend/src/Router.tsx
  frontend/src/assets/index.css
  frontend/src/components/Navbar.tsx
  frontend/src/pages/Candidates.tsx
  frontend/src/pages/Citizen.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix reproducibility
  Makefile
  commands.txt
  dapp/scripts/preconditions.sh
  examples/scripts/create_programs.py
  frontend/src/assets/index.css
  frontend/src/pages/Citizen.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix formatting
  frontend/src/pages/Citizen.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

formatting
  Makefile
Due: none

improve llm
  .env
  .env.example
  backend/Dockerfile
  backend/src/backend/core/config.py
  backend/src/backend/services/llm.py
  docker-compose.yml
  frontend/Dockerfile
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ChatBox.tsx
  frontend/src/pages/Viewer.tsx
  llm/Dockerfile
Due: backend-python-style, backend-mypy, frontend-eslint, frontend-prettier, frontend-typecheck, yamllint-compose

Path conditions:
  backend-python-style: any of: ^backend/.*\.py$
  worker-python-style: any of: ^worker/.*\.py$
  backend-mypy: any of: ^backend/.*\.py$
  worker-mypy: any of: ^worker/.*\.py$
  frontend-eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|scss|md|json|yml|yaml)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$
  dapp-solhint: any of: ^dapp/contracts/.*\.sol$
  dapp-prettier: any of: ^dapp/.*\.(sol|js|ts|md|json|yml|yaml)$
  dapp-foundry-fmt: any of: ^dapp/contracts/.*\.sol$
  yamllint-compose: any of: ^docker-compose\.ya?ml$
